body {
    font-family: Arial, sans-serif;
    background-color: #f4f8fc;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.header {
    text-align: center;
    border-bottom: 3px solid #1e88e5;
    padding-bottom: 20px;
}

.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #1e88e5;
    object-fit: cover;
}

h1 {
    color: #1e88e5;
    font-weight: bold;
}

h2 {
    color: #333;
}

h3 {
    color: #1e88e5;
    font-weight: bold;
    border-bottom: 2px solid #1e88e5;
    padding-bottom: 5px;
}

section {
    margin-top: 25px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

p, li {
    color: #333;
    line-height: 1.6;
}
button {
    margin-left: 10px;
    background-color: #3740ef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
